@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background-color: rgba(0, 0, 0, 0.651);
}

* {
    font-size: 1.2rem;
    color: white;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(clear-day.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr 3rem;
    height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: 12rem 1fr 16rem;
    grid-template-rows: 1fr;
    margin: 0 1rem;
}

.header h2 {
    font-size: 2.5rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.795);
}

.unit-toggle button {
    justify-self: left;
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-rows: 1fr;
}

.toggle-icon {
    position: relative;
    justify-self: center;
}

.toggle-off, .toggle-on {
    position: absolute;
    top: -1rem;
    left: -1.2rem;
    width: 2rem;
}

.header * {
    align-self: center;
    justify-self: center;
}

.location-form input {
    color: black;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25rem 1fr;
    gap: 20px;
    width: clamp(20rem, 90%, 70rem);
    height: 100%;
    margin: 0 auto;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.current {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 14rem 1fr;
    background: linear-gradient( 134deg, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.247));
    border-radius: 12px 12px 0 0;
    padding: 0 6vw;
}

.spacetime {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6.5rem 3.5rem 2rem;
    height: 100%;
    overflow: visible;
    margin-top: 2rem;
}

.current .location {
    font-size: 3rem;
}

.current .region {
    font-size: 1.5rem;
    font-weight: 300;
}

.time {
    font-weight: 500;
    font-size: 1rem;
}

.current .condition {
    justify-self: center;
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    margin-top: 1rem;
}

.current .condition span {
    font-size: 1.4rem;
}

.temp-con {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.specifics {
    margin-top: 2rem;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-template-rows: 1fr;
}

.specifics div {
    justify-self: center;
}

.specifics h3 {
    font-size: 1.25rem;
}

.specifics span {
    font-size: 1.3rem;
}

.current .temp-f, .current .temp-c {
    position: absolute;
    font-size: 6rem;
    top: 3rem;
    left: -1.1em;
}

.temp {
    position: relative;
    justify-self: center;
}

.precip-toggle {
    position: relative;
    justify-self: center;
}

.precip .units {
    position: absolute;
    top: 0;
    left: 2rem;
}

.humidity {
    display: flex;
    flex-direction: column;
}

.humidity span {
    margin: 0 auto;
}

.wind {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.8rem 1fr;
}

.wind h3 {
    grid-column: 1  / 3;
}

.wind-dir {
    font-weight: bold;
}

.wind-speed {
    position: relative;
    justify-self: center;
}

.wind-speed .units {
    position: absolute;
    top: 0;
    left: 0;
    text-wrap: nowrap;
}

.forecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    justify-content: space-around;
    justify-self: center;
    width: 100%;
}

.forecast > div {
    display: grid;
    background-color: var(--background-color);
    grid-template-rows: 5rem 5rem 3rem 2rem 1fr;
    grid-template-columns: 1fr;
    height: 23rem;
}

.forecast .day {
    font-size: 1.5rem;
    font-weight: bold;
}

.day {
    justify-self: center;
    align-self: center;
}

.forecast .condition{
    display: flex;
    justify-self: center;
}

.forecast .condition * {
    align-self: center;
}

.forecast .temp {
    width: 6rem;
    align-self: center;
}

.forecast .temp-f, .forecast .temp-c {
    position: absolute;
    top: 1.5rem;
    left: 4rem;
}

.forecast .precip {
    justify-self: center;
    display: flex;
    margin-top: 2rem;
}

.forecast .precip h4 {
    margin-top: 0;
    margin-right: 1rem;
}

.day-1 {
    border-bottom-left-radius: 12px;
}

.day-3 {
    border-bottom-right-radius: 12px;
}

.footer {

}

.hidden {
    visibility: hidden;
}