@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background-color: rgba(0, 0, 0, 0.651);
    --bright-white: rgb(245, 245, 245);
    --dim-white: rgb(204, 204, 204);
}

* {
    font-size: 1.2rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(clear-day.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(26, 26, 26);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr 4rem;
    height: 100vh;
}


.header {
    display: grid;
    grid-template-columns: 12rem 1fr 12rem;
    grid-template-rows: 1fr;
    margin: 0 auto;
    width: clamp(20rem, 90%, 90rem);

}

.popup {
    display: none;
    position: fixed;
    top: 0%;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
    padding: 40px 50px 20px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.404);
    z-index: 1000;
    animation: slide-in 1s forwards;
}

.popup-content {
    text-align: center;
}

@keyframes slide-in {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
}

.header h2 {
    font-size: 2.8rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.89);
    color: var(--bright-white);
}

.unit-toggle button {
    justify-self: left;
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-rows: 1fr;
    height: 3rem;
    background: radial-gradient(rgba(0, 0, 0, 0.295), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-size: 15rem 4.2rem;
    background-repeat: no-repeat;
    background-position: center;
    border-style: none;
    color: var(--bright-white);
    font-size: 1.4rem;
}   

.unit-toggle button:hover {
    transform: scale(1.05);
    transition: ease-in 0.08s;
}

.unit-toggle img {
    filter: invert(100%);
}

.unit-toggle span {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.849);
}

.unselected-units {
    color: var(--dim-white);
}

.toggle-icon {
    position: relative;
    justify-self: center;
}

.toggle-off, .toggle-on {
    position: absolute;
    top: -1rem;
    left: -1.2rem;
    width: 2rem;
}

.header * {
    align-self: center;
    justify-self: center;
}

.search {
    margin-left: 1rem;
}

.location-form {
    display: grid;
    grid-template-columns: minmax(10rem, 20rem) 7rem;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.location-form * {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.location-form input[type="text"] {
    background-color: var(--bright-white);
    color: black;
}

.location-form input[type="text"]:hover {
    background-color: var(--bright-white);
    transform: scale(1.05);
    transition: ease-in 0.08s;
}

.location-form input[type="text"]:focus {
}

.location-form button[type="submit"] {
    height: 90%;
    border-radius: 12px;
    border: 3px solid var(--bright-white);
    width: 6rem;
    background-color: transparent;
    color: var(--bright-white);
    font-size: 1.4rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.location-form button[type="submit"]:hover {
    background-color: var(--bright-white);
    color: black;
    text-shadow: none;
    transform: scale(1.05);
    transition: ease-in 0.08s;
}

.location-search {
    width: 100%;
    padding: 0.3rem 0.6rem;
    border-radius: 12px;
    border: 3px solid white;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0);
}

.location-search:focus {
    outline: none;
    background-color: white;
    color: black;
}

.main {
    color: var(--bright-white);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25rem 1fr;
    gap: 20px;
    width: clamp(20rem, 90%, 70rem);
    height: 100%;
    margin: 0 auto;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.current {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 14rem 1fr;
    background: linear-gradient( 134deg, rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.247));
    border-radius: 12px 12px 0 0;
    padding: 0 6vw;
}

.spacetime {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6.5rem 3.5rem 2rem;
    height: 100%;
    overflow: visible;
    margin-top: 2rem;
}

.current .location {
    font-size: 3rem;
}

.current .region {
    font-size: 1.5rem;
    font-weight: 300;
}

.time {
    color: var(--dim-white);
    font-weight: 500;
    font-size: 1rem;
}

.current .condition {
    justify-self: center;
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 1fr;
    align-items: flex-end;
    margin-top: 1rem;
}

.current .condition span {
    font-size: 1.4rem;
    align-self: center;
}

.temp-con {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 1fr;
}

.temp-con h2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.specifics {
    margin: 2rem 4rem 0 4rem;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    grid-template-rows: 1fr;
}

.specifics div {
    justify-self: center;
}

.specifics h3 {
    font-size: 1.25rem;
}

.specifics span {
    font-size: 1.3rem;
}

.current .temp-f, .current .temp-c {
    position: absolute;
    font-size: 6rem;
    top: 0.5rem;
    left: -1.1em;
}

.temp {
    position: relative;
    justify-self: center;
}

.precip-toggle {
    position: relative;
    justify-self: center;
}

.precip-chance,
   .forecast .units {
    color: var(--dim-white);
}

.precip .units {
    position: absolute;
    top: 0;
    left: 2rem;
}

.humidity {
    display: flex;
    flex-direction: column;
}

.humidity span {
    margin: 0 auto;
}

.wind {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.8rem 1fr;
}

.wind h3 {
    grid-column: 1  / 3;
}

.wind-dir {
    font-weight: bold;
}

.wind-speed {
    position: relative;
    justify-self: center;
}

.wind-speed .units {
    position: absolute;
    top: 0;
    left: 0;
    text-wrap: nowrap;
}

.forecast {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
    justify-content: space-around;
    justify-self: center;
    width: 100%;
}

.forecast > div {
    display: grid;
    background-color: var(--background-color);
    grid-template-rows: 5rem 5rem 3rem 2rem 1fr;
    grid-template-columns: 1fr;
    height: 23rem;
}

.forecast .day {
    font-size: 1.5rem;
    font-weight: bold;
}

.day {
    justify-self: center;
    align-self: center;
}

.forecast .condition{
    display: flex;
    justify-self: center;
}

.forecast .condition * {
    align-self: center;
}

.forecast .temp {
    width: 6rem;
    align-self: center;
}

.forecast .temp-f, .forecast .temp-c {
    position: absolute;
    top: 1.5rem;
    left: 4rem;
}

.forecast .precip {
    justify-self: center;
    display: flex;
    margin-top: 2rem;
}

.forecast .precip h4 {
    margin-top: 0;
    margin-right: 1rem;
}

.day-1 {
    border-bottom-left-radius: 12px;
}

.day-3 {
    border-bottom-right-radius: 12px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.774);
    color: rgb(75, 75, 75);
    display: flex;
    justify-content: center;
    padding: 1rem 2rem;
}

.attribution {
    font-size: 0.8rem;
}

.footer a {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--dim-white);
}

.footer a:hover {
    color: var(--bright-white);
}

.hidden {
    visibility: hidden;
}


.simple-spinner {
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}
  
  .simple-spinner span {
    display: block;
    width: 6rem;
    height: 6rem;
    border: 0.4rem solid transparent;
    border-radius: 50%;
    border-right-color: var(--bright-white);
    animation: spinner-anim 0.8s linear infinite;
}
  
@keyframes spinner-anim {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
}